<div id="FeaturedMedia-{{ section.id }}-{{ media.id }}-wrapper"
    class="product-media-wrapper"
    data-media-id="{{ section.id }}-{{ media.id }}">
  {% case media.media_type %}
    {% when 'image' %}
      <div class="product-media product-media--image">
        {% render 'responsive-image', image: media.preview_image %}
      </div>
    {% when 'external_video' %}
      <div class="product-media product-media--video product-media--frame"
          data-video-type="external"
          data-video-id="{{ media.external_id }}"
          data-enable-video-looping="{{ section.settings.enable_video_looping }}"
          style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;">
        {{ media | external_video_tag }}
      </div>
    {% when 'video' %}
      {%- comment -%}
        Load different image sizes depending on the breakpoint for background image overlay
      {%- endcomment -%}
      {% style %}
        @media screen and (max-width: 320px) {
          .product-media--{{ media.id }} .plyr__poster {
            background-image: url({{ media.preview_image | img_url: '360x'}}) !important;
          }
        }

        @media screen and (min-width: 321px) and (max-width: 780px) {
          .product-media--{{ media.id }} .plyr__poster {
            background-image: url({{ media.preview_image | img_url: '900x'}}) !important;
          }
        }

        @media screen and (min-width: 781px) and (max-width: 1080px) {
          .product-media--{{ media.id }} .plyr__poster {
            background-image: url({{ media.preview_image | img_url: '1080x'}}) !important;
          }
        }

        @media screen and (min-width: 1081px) {
          .product-media--{{ media.id }} .plyr__poster {
            background-image: url({{ media.preview_image | img_url: '2048x'}}) !important;
          }
        }
      {% endstyle %}

      <div class="product-media product-media--video product-media--{{ media.id }} product-media--frame"
          data-video-type="shopify"
          data-enable-video-looping="{{ section.settings.enable_video_looping }}"
          style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;">
        {{ media | video_tag: controls: true, class: 'media-video', image_size: '600x600' }}
      </div>
    {% when 'model' %}
      <div class="product-media product-media--model product-media--frame" style="padding-top: 100%" data-model-id="{{ media.id }}">
        {{ media | model_viewer_tag: image_size: '600x600', reveal: 'interaction', toggleable: true, data-model-id: media.id }}
      </div>
    {% else %}
      <div class="product-media product-media--frame" style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;">
        {{ media | media_tag: class: 'media-item', image_size: '600x600' }}
      </div>
  {% endcase %}
</div>
