<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.btn_col }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank and settings.favicon contains '.png' %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: 'master' }}" type="image/png" />
  {% elsif settings.favicon != blank and settings.favicon contains '.ico' %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: 'master' }}" type="image/x-icon" />
  {% endif %}

  {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
  {%- assign formatted_initial_value_stripped = formatted_initial_value | strip_html -%}
  <title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value_stripped, shop: shop.name }}</title>

  <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

  {{ 'styles.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer="defer"></script>
  <script src="{{ 'giftcard.v.1.0.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}
</head>

<body class="template-giftcard">
  <main id="MainContent">
    {% section 'header' %}

    {{ content_for_layout }}
  </main>
</body>
</html>
