<footer class="page-footer {% if section.settings.sticky_footer %}page-footer--with-sticky-footer{% endif %}" data-section-id="{{ section.id }}" data-section-type="footer">
  <div class="page-footer__inner {% if section.settings.sticky_footer %}sticky-footer{% endif %}">
    <div class="container">
      <div class="page-width">
        {%- if section.settings.show_subscribe_form -%}
          <div class="page-footer__subscribe subscribe-form">
            <div class="subscribe-form__heading">
              {{- section.settings.subscribe_title -}}
            </div>

            {%- if section.settings.subscribe_description != blank -%}
              <div class="subscribe-form__text rte small-text">
                {{- section.settings.subscribe_description -}}
              </div>
            {%- endif -%}

            {%- form 'customer' -%}
              {%- if form.posted_successfully? -%}
                <div class="subscribe-form__response footer-subscribe-form__response--success">
                  <h4>{{ 'layout.footer.subscribe_success' | t }}</h4>
                </div>
              {%- else -%}
                {%- if form.errors -%}
                  <div class="subscribe-form__response">
                    {%- for field in form.errors -%}
                      <p class="error-message">{{ field | capitalize }} - {{ form.errors.messages[field] }}</p>
                    {%- endfor -%}
                  </div>
                {%- endif -%}

                <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter">
                <div class="subscribe-form__inputs">
                  <div class="input-wrapper">
                    <label class="subscribe-form__label" for="footer_mailinglist_email">
                      {{- section.settings.subscribe_label -}}
                    </label>
                    <input type="email" required class="subscribe-form__email required" value="" id="footer_mailinglist_email" name="contact[email]">
                  </div>
                  <button class="btn btn--secondary subscribe-form__submit" type="submit">
                    {{- section.settings.subscribe_button -}}
                  </button>
                </div>
              {%- endif -%}
            {%- endform -%}
          </div>
          <hr class="page-footer__hr">
        {%- endif -%}

        {%- liquid
          if section.blocks.size == 2
            assign col_class = 'one-half'
          elsif section.blocks.size == 3
            assign col_class = 'one-third'
          else
            assign col_class = 'one-quarter'
          endif
        -%}

        {%- if section.blocks.size > 0 -%}
          <div class="page-footer__blocks grid">
            {%- for block in section.blocks -%}
              <div class="footer-block grid__item small-down--one-whole {{ col_class }}" {{ block.shopify_attributes }}>
                {%- case block.type -%}
                  {%- when 'link_list' -%}
                    <p class="footer-block__heading">{{ block.settings.heading | escape }}</p>
                    <ul class="nav">
                      {%- for link in block.settings.menu.links -%}
                        <li class="nav__item">
                          <a href="{{ link.url }}" class="nav__link">{{ link.title }}</a>
                        </li>
                      {%- endfor -%}
                    </ul>

                  {%- when 'social' -%}
                    <p class="footer-block__heading md-down-hidden">{{ block.settings.heading | escape }}</p>
                    {% render 'social-icons', icon_setting: settings.social_custom_icon, icon_size: '48x' %}

                  {%- when 'text' -%}
                    <p class="footer-block__heading">{{ block.settings.heading | escape }}</p>
                    <div class="rte">
                      {{ block.settings.text }}
                    </div>

                {%- endcase -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}

        <div class="page-footer__end">
          <div>
            {%- assign small_linklist = section.settings.small_linklist -%}
            {%- if linklists[small_linklist].links.size > 0 -%}
              <ul class="small-nav">
                {%- for link in linklists[small_linklist].links -%}
                  <li class="small-nav__item">
                    <a class="small-nav__link" href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}

            <small class="copyright-text">
              {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} <a href="{{ routes.root_url }}">{{ shop.name }}</a>.
              {{ powered_by_link }}
            </small>
          </div>

          <div>
            {%- if section.settings.show_currency_selector or section.settings.show_locale_selector -%}
              <div class="footer-localization">
                {% render 'localization', input_prefix: 'footer' %}
              </div>
            {%- endif -%}

            {%- if section.settings.show_payment_icons -%}
              {% unless shop.enabled_payment_types == empty %}
                <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
                <ul class="payment-icons">
                  {%- for type in shop.enabled_payment_types -%}
                    <li class="payment-icon">
                      {{ type | payment_type_svg_tag: class: 'payment-icon-svg' }}
                    </li>
                  {%- endfor -%}
                </ul>
              {% endunless %}
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "small_linklist",
        "label": "Secondary menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "sticky_footer",
        "label": "Enable scroll-reveal effect",
        "default": false,
        "info": "Only shown on desktop screens"
      },
      {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency Selector",
        "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "show_subscribe_form",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "text",
        "id": "subscribe_title",
        "label": "Heading",
        "default": "Get updates"
      },
      {
        "type": "text",
        "id": "subscribe_label",
        "label": "Label",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "subscribe_button",
        "label": "Submit button text",
        "default": "Sign up"
      },
      {
        "type": "richtext",
        "id": "subscribe_description",
        "label": "Subheading"
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "link_list",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Footer links"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "default": "footer"
          }
        ]
      },
      {
        "type": "social",
        "name": "Social links",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Follow us"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text area",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Talk about your store"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Share store details, promotions, or brand content with your customers.</p>"
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "link_list"
        },
        {
          "type": "social"
        }
      ]
    }
  }

{% endschema %}
