{%- assign bg_image = section.settings.background_image -%}

{% style %}
  .template-password {
    background-color: {{ section.settings.background_color }};
  }

  .password-page-container,
  .password-login-link a,
  .password-form-email {
    color: {{ section.settings.text_color }};
  }

  {% if section.settings.overlay_opacity > 0 %}
    .password-background-image::after {
      background-color: {{ section.settings.background_overlay_color }};
      opacity: {{ section.settings.overlay_opacity | divided_by: 100.00 }};
    }
  {% endif %}

  {% if section.settings.logo != blank %}
    .store-logo {
      width: {{ section.settings.logo_width }}px;
    }
  {% endif %}
{% endstyle %}

{% if bg_image.src != blank %}
  <div class="password-background-image">
    <div class="rimage-background fade-in lazyload"
         data-bgset="{% render 'bgset', image: bg_image %}"
         data-sizes="auto"
         data-parent-fit="cover">
      <noscript>
        <img src="{{ bg_image | img_url: '1024x1024' }}" alt="{{ bg_image.alt | escape }}" class="rimage-background__image">
      </noscript>
    </div>
  </div>
{% endif %}
<aside class="password-login-link page-width">
  <a href="#password-login">
    {{ 'general.password_page.password_link' | t }}
  </a>
</aside>

<div class="password-page-container container" itemscope itemtype="http://schema.org/Organization">
  <header class="page-width large-row">
    <meta itemprop="url" content="{{ shop.url }}">
    <h1 class="h1 store-logo">
      <meta itemprop="name" content="{{ shop.name }}">
      {% if section.settings.logo != blank %}
        {% capture image_size %}{{ section.settings.logo_width | times: 2 }}x{% endcapture %}
        <img src="{{ section.settings.logo | img_url: image_size }}"
             alt="{{ section.settings.logo.alt | default: shop.name }}"
             itemprop="logo">
      {% else %}
        {{ shop.name }}
      {% endif %}
    </h1>
  </header>

  <main id="MainContent" class="page-width">
    <h2 class="large-title large-row password-page-content">{{ section.settings.heading }}</h2>

    {%- if section.settings.show_message == true -%}
      {% unless shop.password_message == blank %}
        <p class="large-row">
          {{ shop.password_message }}
        </p>
      {% endunless %}
    {%- endif -%}

    {% if section.settings.show_newsletter %}
      {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <ul class="form-success">
            <li>{{ 'general.password_page.signup_form_success' | t }}</li>
          </ul>
        {% else %}
          <h3 class="password-form-title">{{ section.settings.newsletter_heading }}</h3>
          <div class="password-form-subtitle rte">{{ section.settings.newsletter_subheading }}</div>
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <div class="password-form-container">
            <div class="input-wrapper">
              <label for="email" class="password-form-label">
                {{ section.settings.newsletter_label }}
              </label>
              <input type="email"
                name="contact[email]"
                id="email"
                spellcheck="false"
                autocomplete="off"
                autocapitalize="off"
                class="password-form-email"
                required>
            </div>
            <button type="submit" name="commit" class="btn password-form-submit">
              {{ section.settings.newsletter_button }}
            </button>
          </div>
        {% endif %}
      {% endform %}
    {% endif %}

    {% if section.settings.show_social_icons %}
      <div class="password-social-icons large-row">
        <h4 class="password-social-icons-title small-text">{{ section.settings.social_icons_title }}</h4>
        {% if section.settings.show_social_icons %}
          {% render 'social-icons', icon_setting: settings.social_custom_icon, icon_size: '48x' %}
        {% endif %}
      </div>
    {% endif %}
  </main>


  <footer class="password-footer page-width">
    {% capture shopify_link %}
      <a href="//www.shopify.com" rel="nofollow" target="_blank" title="Create your own online store with Shopify" class="password-shopify-link">
        {% render 'icon-shopify-logo' %}
        <span class="icon-fallback-text">Shopify</span>
      </a>
    {% endcapture %}
    <p>{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify_link }}</p>
  </footer>
</div>

<div id="password-login-modal" class="hidden">
  <div id="password-login">
    <p class="h4">{{ 'general.password_page.login_form_heading' | t }}</p>
      {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <label for="password" class="visually-hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
      <div class="input-group">
        <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
        <span class="input-group-btn">
          <input type="submit" class="btn password-page__login-form__submit" value="{{ 'general.password_page.login_form_submit' | t }}">
        </span>
      </div>
      {% endform %}
      <p class="admin-login">{{ 'general.password_page.admin_link_html' | t }}</p>
  </div>
</div>

{% schema %}
  {
    "name": "Password page",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Opening Soon"
      },
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 100,
        "max": 600,
        "step": 5,
        "unit": "px",
        "label": "Logo width",
        "default": 250
      },
      {
        "type": "checkbox",
        "id": "show_message",
        "label": "Show password message",
        "info": "Message set in your [online store preferences](/admin/online_store/preferences)",
        "default": true
      },
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "paragraph",
        "content": "Choose between a background color or background image."
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#333333"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "color",
        "id": "background_overlay_color",
        "label": "Image overlay color",
        "default": "#333333"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Image overlay opacity",
        "default": 30
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#ffffff"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
         "type": "checkbox",
         "id": "show_newsletter",
         "label": "Show newsletter signup",
         "default": true
      },
      {
         "type": "text",
         "id": "newsletter_heading",
         "label": "Heading",
         "default": "Find out when we open"
      },
      {
         "type": "richtext",
         "id": "newsletter_subheading",
         "label": "Subheading"
      },
      {
         "type": "text",
         "id": "newsletter_label",
         "label": "Label",
         "default": "Email"
      },
      {
         "type": "text",
         "id": "newsletter_button",
         "label": "Button",
         "default": "Submit"
      },
      {
        "type": "header",
        "content": "Social sharing"
      },
      {
         "type": "checkbox",
         "id": "show_social_icons",
         "label": "Show social icons",
         "default": false
      },
      {
        "type": "text",
        "id": "social_icons_title",
        "label": "Social icons title",
        "default": "Spread the word"
      }
    ]
  }
{% endschema %}
