{% if section.settings.mode != 'disabled' %}

  <section class="section-{{ section.id }} cc-popup cc-popup--{{ section.settings.position }}"
    data-freeze-scroll="false"
    data-section-id="{{ section.id }}"
    data-section-type="newsletter-popup"
    data-dismiss-for-days="{{ section.settings.popup_dismiss_for_days }}"
    data-delay-seconds="{{ section.settings.popup_delay_seconds }}"
    data-test-mode="{% if section.settings.mode == 'testing' %}true{% else %}false{% endif %}">
    <div class="cc-popup-background"></div>
    <div class="cc-popup-modal {% if section.settings.image != blank %} cc-popup-modal--has-image{% endif %}"
         role="dialog"
         aria-modal="true">

      <button type="button" class="cc-popup-close" aria-label="{{ 'general.accessibility_labels.close' | t | escape }}">
        {% render 'popup-close' %}
      </button>

      <div class="cc-popup-container {% if section.settings.image_position == 'right' %} cc-popup-container--reverse{% endif %}">

        {%- if section.settings.image != blank -%}
          <div class="cc-popup-image">
            {% render 'responsive-image', image: section.settings.image %}
          </div>
        {%- endif -%}

        {%- if section.settings.title != blank or section.settings.text != blank or section.settings.show_newsletter == true or section.settings.show_social_icons == true -%}
          <div class="cc-popup-content">
            <div class="cc-popup-column">
              {%- capture popup_top_content -%}
                {%- if section.settings.title != blank or section.settings.text != blank -%}
                  <div class="cc-popup-text">
                    {%- if section.settings.title != blank -%}
                      <h2 class="cc-popup-title">{{ section.settings.title }}</h2>
                    {%- endif -%}
                    {%- if section.settings.text != blank -%}
                      <div class="rte">{{ section.settings.text }}</div>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              {%- endcapture -%}

              {%- capture popup_bottom_content -%}
                {%- if section.settings.show_social_icons == true -%}
                  <div class="cc-popup-social">
                    {%- if section.settings.social_title != blank -%}
                      <h3>{{ section.settings.social_title }}</h3>
                    {%- endif -%}
                    {% render 'social-icons', icon_setting: settings.social_custom_icon, icon_size: 'x32' %}
                  </div>
                {%- endif -%}
              {%- endcapture -%}

              {%- if section.settings.show_newsletter == true -%}
                <div class="cc-popup-form">
                  {% form 'customer', id: 'cc-popup' %}
                    {% unless form.posted_successfully? %}
                      {{ popup_top_content }}
                    {% endunless %}

                    {% if form.posted_successfully? %}
                      <div class="cc-popup-form__response cc-popup-form__response--success">
                        <h4>{{ 'general.popup_section.success' | t }}</h4>
                      </div>
                    {% else %}
                      {% if form.errors %}
                        <div class="cc-popup-form__response cc-popup-form__response--error">
                          {% for field in form.errors %}
                          <p class="error-message">{{ field | capitalize }} - {{ form.errors.messages[field] }}</p>
                          {% endfor %}
                        </div>
                      {% endif %}
                      <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>
                      <div class="cc-popup-form__inputs">
                        <div class="cc-popup-form__input-wrapper">
                          <input type="email" required class="cc-popup-form-input" value="" id="cc-popup-mailinglist_email" name="contact[email]" placeholder="{{ 'general.popup_section.email_placeholder' | t }}" />
                        </div>
                        <div class="cc-popup-form-buttons">
                          <button class="btn btn--primary button cc-popup-form-submit" type="submit">{{ 'general.popup_section.submit' | t }}</button>
                        </div>
                      </div>
                    {% endif %}

                    {{ popup_bottom_content }}
                  {% endform %}
                </div>
              {%- else -%}
                {{ popup_top_content }}
                {{ popup_bottom_content }}
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}

      </div>
    </div>
  </section>

{% endif %}

{% schema %}
  {
    "name": "Popup",
    "class": "section-popup",
    "settings": [
      {
        "type": "select",
        "id": "mode",
        "label": "Display mode",
        "default": "disabled",
        "options": [
          {
            "value": "enabled",
            "label": "Enabled"
          },
          {
            "value": "testing",
            "label": "Test mode"
          },
          {
            "value": "disabled",
            "label": "Disabled"
          }
        ],
        "info": "Test mode displays your popup each time even after dismissing it. Switch to Enabled once you are happy with how your popup looks."
      },
      {
        "type": "range",
        "id": "popup_delay_seconds",
        "label": "Delay",
        "info": "Delay is disabled in theme editor for visibility",
        "default": 5,
        "min": 2,
        "max": 60,
        "step": 1,
        "unit": "sec"
      },
      {
        "type": "range",
        "id": "popup_dismiss_for_days",
        "label": "Frequency",
        "default": 30,
        "info": "Number of days before a dismissed popup reappears",
        "min": 2,
        "max": 30,
        "step": 1,
        "unit": "day"
      },
      {
        "type": "select",
        "id": "position",
        "label": "Position",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "bottom-left",
            "label": "Bottom left"
          },
          {
            "value": "bottom-right",
            "label": "Bottom right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Sign up and save"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Entice customers to sign up for your mailing list with discounts or exclusive offers.</p>"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "paragraph",
        "content": "Customers who subscribe will have their email address added to the 'accepts marketing' [customer list](/admin/customers?query=&accepts_marketing=1)."
      },
      {
        "type": "checkbox",
        "id": "show_newsletter",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "header",
        "content": "Social media"
      },
      {
        "type": "checkbox",
        "id": "show_social_icons",
        "label": "Show social media icons",
        "default": true
      }
    ]
  }
{% endschema %}
