{% assign brightness_number = section.settings.collection_background | color_brightness %}
{% if brightness_number < 135 %}{% assign text_color = '#ffffff' %}{% else %}{% assign text_color = '#000000' %}{% endif %}

{%- assign collection = collections[section.settings.collection] -%}
<div class="container container--no-mobile-padding large-row standout-collection-section section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="standout-collection">
  {% style %}
    .section-{{ section.id }} .page-width {
      background-color: {{ section.settings.collection_background }};
      color: {{ text_color }};
    }

    .section-{{ section.id }} .overlay {
      top: {{ section.settings.overlay_position_y }}%;
    }

    .section-{{ section.id }} .image-product-label {
      top: {{ section.settings.label_position_y }}%;
      left: {{ section.settings.label_position_x }}%;
    }
  {% endstyle %}

  <div class="page-width standout-collection-flex {% if section.settings.layout == 'right' %}standout-collection-flex--reverse{% endif %} global-border-radius">
      <div class="one-half small-down--one-whole relative avoid-overlaps">
        <div class="avoid-overlaps__mobile-container standout-collection__background-image">
          {%- assign section_image = section.settings.alternative_image | default: collection.featured_image -%}
          <a href="{{ collection.url }}" class="desktop-background-image lazyload rimage-background"
            data-bgset="{% render 'bgset', image: section_image %}"
            data-sizes="auto"
            data-parent-fit="cover"
            style="background-position: {{ section.settings.image_position }}">
            <noscript>
              <img src="{{ section_image | img_url: '1024x1024' }}" alt="{{ section_image.alt | escape }}" class="rimage-background__image">
            </noscript>
          </a>

          {% if section_image != blank %}
            <a href="{{ collection.url }}" class="standout-collection__image">
              {% render 'responsive-image', image: section_image, nomax: true %}
            </a>

          {% else %}
            <div class="standout-collection__image--svg-placeholder">
              {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% endif %}


          {% if section.settings.product_id != blank %}
            {% assign product_label = all_products[section.settings.product_id] %}
            {% capture current_number %}{{ current }}{% endcapture %}
            {% assign quickbuy_toggle = settings.quickbuy_labels_toggle %}
            {% render 'image-product-label',
                      product_label: product_label,
                      current_number: current_number,
                      show_chevron: section.settings.show_chevron,
                      chevron: section.settings.chevron_position,
                      quickbuy: quickbuy_toggle,
                      color_bg: section.settings.color_label_background,
                      color_text: section.settings.color_label_text %}
          {% endif %}
        </div>


        {%- if collection != blank -%}
          {%- assign collection_title = collection.title -%}
          {%- assign collection_url = collection.url -%}
        {%- else -%}
          {%- capture collection_title -%}{{ 'homepage.onboarding.collection_title' | t }}{%- endcapture -%}
          {%- assign collection_url = '#' -%}
        {%- endif -%}

        {% render 'image-overlay',
                    background_color: section.settings.color_overlay_bg,
                    background_opacity: section.settings.overlay_opacity,
                    text_color: section.settings.color_overlay_text,
                    title: collection_title,
                    enlarge_title: section.settings.enlarge_title,
                    url: collection_url,
                    url_text: section.settings.overlay_url_text,
                    url_style: section.settings.url_style,
                    position: 'wide',
                    mobile_text_below: true %}
      </div>

    <div class="one-half small-down--one-whole relative slider-container slider-container--mobile-padding">
      <div class="product-carousel-peek standout-collection-slider">
        <div class="js-standout-collection-slider will-slick">
          {% assign quickbuy_toggle = settings.quickbuy_buttons_toggle %}
          {% for product in collection.products limit: 15 %}
            <div class="slide relative js-contains-quickbuy">
              {% render 'product-block', grid_class: 'ignore', quickbuy: quickbuy_toggle, product: product, show_vendor: section.settings.show_vendor %}
            </div>
          {% else %}

            {% for i in (1..6) %}
              <div class="product-block slide">
                <div class="global-border-radius">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
                </div>
                <div class="product-block__title">
                  <a href="#" class="product-block__title-link">{{ 'homepage.onboarding.product_title' | t }}</a>
                </div>
                <div class="product-price"><span class="theme-money">{{ 1999 | money }}</span></div>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
        {% render 'peek-carousel-advice' %}
      </div>
      <div class="standout-collection-slider__controls">
        <button class="btn--plain prev icon feather-icon" aria-label="{{ 'general.accessibility_labels.previous' | t | escape }}">{% render 'feather-arrow-left' %}</button>
        <button class="btn--plain next icon feather-icon" aria-label="{{ 'general.accessibility_labels.next' | t | escape }}">{% render 'feather-arrow-right' %}</button>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Promotional collection",
    "tag": "section",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "color",
        "id": "collection_background",
        "label": "Background color",
        "default": "#dae4e6"
      },
      {
        "type": "image_picker",
        "id": "alternative_image",
        "label": "Image",
        "info": "If no image is selected, the Collection image will be displayed"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image alignment",
        "info": "Used to keep the subject of your image in view",
        "default": "center center",
        "options": [
          {
            "value": "top left",
            "label": "Top left"
          },
          {
            "value": "top center",
            "label": "Top center"
          },
          {
            "value": "top right",
            "label": "Top right"
          },
          {
            "value": "center left",
            "label": "Middle left"
          },
          {
            "value": "center center",
            "label": "Middle center"
          },
          {
            "value": "center right",
            "label": "Middle right"
          },
          {
            "value": "bottom left",
            "label": "Bottom left"
          },
          {
            "value": "bottom center",
            "label": "Bottom center"
          },
          {
            "value": "bottom right",
            "label": "Bottom right"
          }
        ]
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          {
            "value": "left",
            "label": "Image left"
          },
          {
            "value": "right",
            "label": "Image right"
          }
        ],
        "default": "left"
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendor",
        "default": false
      },
      {
        "type": "header",
        "content": "Text overlay"
      },
      {
        "type": "color",
        "id": "color_overlay_bg",
        "label": "Background color",
        "default": "#ffffff"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "Background opacity",
        "default": 80,
        "unit": "%",
        "info": "Does not apply when the overlay is shown under the image on mobile."
      },
      {
        "type": "color",
        "id": "color_overlay_text",
        "label": "Text color",
        "default": "#333333"
      },
      {
        "type": "text",
        "id": "overlay_url_text",
        "label": "Button text",
        "default": "Shop now"
      },
      {
        "type": "radio",
        "id": "url_style",
        "label": "Button style",
        "options": [
          { "value": "button_1", "label": "Button - primary" },
          { "value": "button_2", "label": "Button - secondary" },
          { "value": "link_style", "label": "Link"}
        ],
        "default": "button_1"
      },
      {
        "type": "checkbox",
        "id": "enlarge_title",
        "label": "Enlarge heading",
        "default": false
      },
      {
        "type": "range",
        "id": "overlay_position_y",
        "label": "Desktop vertical position",
        "min": 0,
        "max": 100,
        "unit": "%",
        "step": 1,
        "default": 70
      },
      {
        "type": "header",
        "content": "Image product label"
      },
      {
        "type": "color",
        "id": "color_label_background",
        "label": "Background color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "color_label_text",
        "label": "Text color",
        "default": "#333333"
      },
      {
        "type": "product",
        "id": "product_id",
        "label": "Product"
      },
      {
        "type": "checkbox",
        "id": "show_chevron",
        "label": "Show arrow",
        "default": true
      },
      {
        "type": "radio",
        "id": "chevron_position",
        "label": "Arrow position",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "right", "label": "Right" }
        ],
        "default": "right"
      },
      {
        "type": "range",
        "id": "label_position_x",
        "label": "Horizontal position",
        "min": 0,
        "max": 100,
        "unit": "%",
        "step": 1,
        "default": 10
      },
      {
        "type": "range",
        "id": "label_position_y",
        "label": "Vertical position",
        "min": 0,
        "max": 100,
        "unit": "%",
        "step": 1,
        "default": 30
      }
    ],
    "templates": [
      "404",
      "article",
      "blog",
      "cart",
      "collection",
      "index",
      "list-collections",
      "page",
      "product",
      "search"
    ],
    "presets": [
      {
        "name": "Promotional collection"
      }
    ]
  }

{% endschema %}
